<p>This is an important message from the Coffin app for
<%= @user.first_name %> <%= @user.last_name %>.  Your deadman
switch timer will expire in twenty four hours.  Please log into the app
as soon as possible and click the "I'm Still Alive" button.
If you do not click the button before the twenty four hours are up, the app will
begin to send notices to your contacts that you have passed away.</p>
