<!-- app/views/dashboard/index.html.erb -->

<h1>Dead Man Switch Timer</h1>
<% if @user.dead_man_switch %>
  <h5>Your Dead Man Switch is set and will expire on <%= @user.dead_man_switch.expires_at_in_time.strftime('%B %-d, %Y at%l:%M:%S') %></h5>
  <%= button_to "I'm Still Alive!", dead_man_switch_path(current_user), method: :patch %></br>
  <%= button_to "Cancel Dead Man Switch", dead_man_switch_path(current_user), method: :delete %>
<% else %>
  <p>You haven't set a timer yet. Click <%= link_to 'here', profile_path %> to visit your profile and set a timer now.</p>
<% end %>
