<h1 class="text-center">Welcome to Coffin</h1>
<br>
<blockquote class="blockquote text-center">
  <p class="mb-0">Every [person] dies. Not every [person] truly lives.</p>
  <footer class="blockquote-footer">William Wallace</footer>
<br>
<% unless current_user %>
  <div class="d-inline-flex p-2 bd-highlight"><%= link_to 'Login using Google', auth_google_oauth2_path %></div>
  <div class="d-inline-flex p-2 bd-highlight"><%= link_to 'Register using Google', auth_google_oauth2_path %></div>
<% end %>
<section id="work">
  <div class="container">
    <div class="row">
      <img src="https://i5.walmartimages.com/asr/6d40f6c8-4008-4a1b-a503-a8df5ce8c848_1.a8a0966fd6f7323861d2ba8dc3c3d683.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" class="img-responsive" alt="Responsive image">
    </div>
  </div>
</section>
