<h1>Welcome to Coffin</h1>
<p>Here is our welcoming message... Welcome to Coffin, that is all for now</p>

<ul>
  <li><%= link_to 'Register using Google', auth_google_oauth2_path %></li>
  <li><%= link_to 'Login using Google', auth_google_oauth2_path %></li>
</ul>
