<h2>About Coffin:</h2>
<p>Here is our about section, it is very abouty, and really tells the user all about our aboutness</p>

<h3>Frequently Asked Questions</h3>
<ul>
  <li>What is the meaning of life?</li>
  <li>Will Coffin save my marrige?</li>
</ul>