<h2 class="text-center">About Coffin:</h2>
<p class="text-center">Coffin is an app that is designed to assist people with handling the death of someone close.</p>

<h3>Frequently Asked Questions</h3>
<ul>
  <li><strong>What services does the app provide?</strong></li>
  <p>The app has three main functions.  The first one is to provide
  a way for trusted contacts to be notified in the event of a primary
account holder's death.  A deadman switch, which acts as a countdown timer,
is used for this function.  If the primary account holder fails to push
the deadman switch (which resets the timer), then a message is issued to that
person's contacts to notify them.</p>
<p>The second main function of the app is to provide the primary account
holder with a secure repository for sensitive documents.  These documents
include such things as wills, life insurance policies, birth certificates and
any other documents that an executor would need to close out an estate.</p>
<p>The third main function of the app is to provide a way for the executor of
the estate to have access to the sensitive documents once the primary account
holder has passed away.</p>
  <li><strong>Can the user change the length of the time for the deadman switch?</strong></li>
  <p>Yes.  The length of time can be set to any time length the user desires.
  The time can be in days, months, or years.</p>
  <li><strong>Does the app provide warnings when the deadman switch is close to expiring?</strong></li>
  <p>Yes, an alert is sent out 24 hours prior to the expiration of the timer.</p>
</ul>
